<section id="contactus-section" class="bg-gray-light">
   <div class="contactus-list">
      <div class="container">
         <div class="row row-eq-height">
           <div class="col-xs-12">
            <h2 class="white-color contactus-header" >Have any questions? <span class="contactus-header-normal">Speak to a specialist</span></h2>
            <P class="white-color contactus-header-desc"> description </p>
            {{!-- <h3 class="white-color contactus-sub-header">Subscribe and use today.</h3> --}}
            <div class="panel-group equal-height" id="contact-us-accordion">
               {{#each this}}
               <div class="panel panel-default {{mobileopen}}">
                  <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#contact-us-accordion" href="#collapse{{id}}">
                  <div class="contactus-heading">
                    <img src="{{icon}}" height="30" width="30">
                    <h4>
                        {{heading}}
                     </h4>
                   </div>
                  </div>
                  <div id="collapse{{id}}" class="panel-collapse collapse in">
                     <div class="panel-body">
                        {{#each content}}
                        {{#if number}}
                        <!-- <div class="content-wrapper-number">{{{title}}}</div> -->
                        <div class="phone-number">
                          <p><strong>hello</strong></p>
                           <a href="tel:{{number}}">{{number}}</a>
                           <p>hello</p>
                        </div>
                        <div class="phone-number">
                          <p><strong>hello</strong></p>
                           <a href="tel:{{number}}">{{number}}</a>
                           <p>hello</p>
                        </div>
                        <div class="phone-number">
                          <p><strong>hello</strong></p>
                           <a href="tel:{{number}}">{{number}}</a>
                           <p>hello</p>
                        </div>
                        {{/if}}
                        {{#if email}}
                        <p class="title">{{{title}}}</p>
                        <p class="email"> {{name}} <a href="mailto:{{{email}}}">{{{email}}}</a></p>
                        {{/if}}
                        {{#if cta}}
                        <div class="content-wrapper-cta">{{{title}}}</div>
                        <div class="btn-container">
                           <a class="btn btn-primary" href="{{cta.link}}" role="button">{{cta.label}}</a>
                        </div>
                        {{/if}}
                        {{#if subscribe}}
                        <div class="content-wrapper-cta">
                              <p>Pick a time that's convenient.</p>
                              <p>Pick a time that's convenient</p>
                              <a class="btn btn-default subscribe-link">
                                    Purchase
                              </a>
                              <div class="pay-with">
                                    <span class="copy">Pay With</span>
                                    <span class="payment visa"></span>
                                    <span class="payment mastercard"></span>
                                    <span class="payment amex"></span>
                              </div>
                        </div>
                        <div class="btn-container">
                              <select class="subscribe-options chosen">
                                    <option selected disabled value=0>View other Payment Types</option>
                                    <option value=1>Mastercard</option>
                                    <option value=2>Visa</option>
                                    <option value=3>Internet Banking</option>
                             </section>
                        </div>
                      {{/if}}

                        {{/each}}
                     </div>
                  </div>
               </div>
               {{/each}}
            </div>
         </div>
         </div>
      </div>
   </div>
</section>
