<section class="resource-filter-wrap resource-filter">
	<div class="refine-list form">
	    <div class="container">
	        <p class="header">
	            <a href="#" class="refine">Refine results <span class="icon-chevron-down"></span></a>
	            <a href="#" class="close-filter"><span class="icon-close"></span></a>
	        </p>
	    </div>
	    <div class="slider">
	        <div class="">
	        	<div class="refine-data clearfix">
		            <div class="col-xs-12 col-sm-6 col-md-3">
		                <p><strong>Sectors</strong></p>
		                <ul data-filterid="Sectors">
		                    <li><span class="custom-checkbox">
		                        <label for="Insight News" class="label">
		                            <input type="checkbox" name="Insight News" id="Insight News" value="guid001" data-value="guid001">
		                            <span>Insight News</span>
		                        </label>
		                        </span>
		                    </li>
		                    <li><span class="custom-checkbox">
		                        <label for="Pricing Information" class="label"><input type="checkbox" name="Pricing Information" id="Pricing Information" value="guid001" data-value="guid001">
		                        <span>Pricing Information</span>
		                        </label>
		                        </span>
		                    </li>
		                    <li>
		                        <span class="custom-checkbox">
		                        <label for="Trade flows" class="label">
		                            <input type="checkbox" name="Trade flows" id="Trade flows" value="guid001" data-value="guid001">
		                            <span>Trade flows</span>
		                        </label>
		                        </span>
		                    </li>
		                    <li>
		                    <span class="custom-checkbox">
		                        <label for="Feed" class="label">
		                        <input type="checkbox" name="Feed" id="Feed" value="guid001" data-value="guid001">
		                        <span>Feed</span>
		                        </label>
		                    </span>
		                    </li>
		                </ul>
		            </div>
		            <div class="col-xs-12 col-sm-6 col-md-3">
		                <p><strong>Sectors</strong></p>
		                <ul data-filterid="Sectors">
		                    <li><span class="custom-checkbox">
		                        <label for="Insight News" class="label">
		                            <input type="checkbox" name="Insight News" id="Insight News" value="guid001" data-value="guid001">
		                            <span>Insight News</span>
		                        </label>
		                        </span>
		                    </li>
		                    <li><span class="custom-checkbox">
		                        <label for="Pricing Information" class="label"><input type="checkbox" name="Pricing Information" id="Pricing Information" value="guid001" data-value="guid001">
		                        <span>Pricing Information</span>
		                        </label>
		                        </span>
		                    </li>
		                    <li>
		                        <span class="custom-checkbox">
		                        <label for="Trade flows" class="label">
		                            <input type="checkbox" name="Trade flows" id="Trade flows" value="guid001" data-value="guid001">
		                            <span>Trade flows</span>
		                        </label>
		                        </span>
		                    </li>
		                    <li>
		                    <span class="custom-checkbox">
		                        <label for="Feed" class="label">
		                        <input type="checkbox" name="Feed" id="Feed" value="guid001" data-value="guid001">
		                        <span>Feed</span>
		                        </label>
		                    </span>
		                    </li>
		                </ul>
		            </div>
		            <div class="col-xs-12 col-sm-6 col-md-3">
		                <p><strong>Sectors</strong></p>
		                <ul data-filterid="Sectors">
		                    <li><span class="custom-checkbox">
		                        <label for="Insight News" class="label">
		                            <input type="checkbox" name="Insight News" id="Insight News" value="guid001" data-value="guid001">
		                            <span>Insight News</span>
		                        </label>
		                        </span>
		                    </li>
		                    <li><span class="custom-checkbox">
		                        <label for="Pricing Information" class="label"><input type="checkbox" name="Pricing Information" id="Pricing Information" value="guid001" data-value="guid001">
		                        <span>Pricing Information</span>
		                        </label>
		                        </span>
		                    </li>
		                    <li>
		                        <span class="custom-checkbox">
		                        <label for="Trade flows" class="label">
		                            <input type="checkbox" name="Trade flows" id="Trade flows" value="guid001" data-value="guid001">
		                            <span>Trade flows</span>
		                        </label>
		                        </span>
		                    </li>
		                    <li>
		                    <span class="custom-checkbox">
		                        <label for="Feed" class="label">
		                        <input type="checkbox" name="Feed" id="Feed" value="guid001" data-value="guid001">
		                        <span>Feed</span>
		                        </label>
		                    </span>
		                    </li>
		                </ul>
		            </div>
		            <div class="col-xs-12 col-sm-6 col-md-3">
		                <p><strong>Sectors</strong></p>
		                <ul data-filterid="Sectors">
		                    <li><span class="custom-checkbox">
		                        <label for="Insight News" class="label">
		                            <input type="checkbox" name="Insight News" id="Insight News" value="guid001" data-value="guid001">
		                            <span>Insight News</span>
		                        </label>
		                        </span>
		                    </li>
		                    <li><span class="custom-checkbox">
		                        <label for="Pricing Information" class="label"><input type="checkbox" name="Pricing Information" id="Pricing Information" value="guid001" data-value="guid001">
		                        <span>Pricing Information</span>
		                        </label>
		                        </span>
		                    </li>
		                    <li>
		                        <span class="custom-checkbox">
		                        <label for="Trade flows" class="label">
		                            <input type="checkbox" name="Trade flows" id="Trade flows" value="guid001" data-value="guid001">
		                            <span>Trade flows</span>
		                        </label>
		                        </span>
		                    </li>
		                    <li>
		                    <span class="custom-checkbox">
		                        <label for="Feed" class="label">
		                        <input type="checkbox" name="Feed" id="Feed" value="guid001" data-value="guid001">
		                        <span>Feed</span>
		                        </label>
		                    </span>
		                    </li>
		                </ul>
		            </div>
		        </div>
	        </div>
	        <div class="container">
	        	<div class="refine-button">
	            	<a href="#" class="btn btn-default">Refine</a>
	            </div>
	        </div>
	    </div>
	</div>
	 <input type="hidden" name="topic" class="resource-topic" value="topic" />
</section>
<section class="resource-list" data-count="4">
	<div class="container">
		<h2>Latest Content</h2>
		<div class="list-container">
			<div class="row">
				<ul class="clearfix resource-list">
					{{#each Results.Articles}}
		            <li>
			            <div class="columns">
			                <p class="category">
			                  <strong>{{SectorType}}</strong>
			                </p>
			                <h2 class="poduct-brand-subheading">{{Title}}</h2>
			                <span class="content-type">{{ContentType}}</span>
			                <p class="date">{{PublicationDate}}</p>
			                <div class="list-content">
			                    {{#if Description}}
			                        <p class="description">{{Description}}</p>
			                        <span class="article-info"><em>Author:</em> <strong>{{Profile}}</strong></span>
			                            <span class="article-info"><em>Topic:</em>
			                                <strong>{{Topic}}</strong>
			                            </span>
			                    {{/if}}
			                    {{#if Video}}
			                        <div class="video-container">
			                            <a href="{{Video.url}}" class="video-link">
			                                <img src="{{Video.ImageSrc}}" alt="{{Video.ImageAltText}}" />
			                            </a>
			                            <span class="play-icon icon-play"></span>
			                        </div>
			                    {{/if}}
			                </div>
			            </div>
		                
		                    <div class="btn-container">
		                      <a role="button" href="{{PageURL}}" class="btn btn-default" target="_blank">{LinkText}}</a>
		                    </div>
		                
		            </li>
		          {{/each}}
				</ul>
			</div>
			<button class="btn btn-showMore" data-ContainerGuid="Abc" data-ContenttypeGuid="Pqr">
				<span class="more">More</span>
				<span class="less">Less</span>
			</button>
		</div>
	</div>
</section>