<section id="contact-us-brand" class="accordian-structure">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>{{title}}</h1>
				<p class="contact-info">{{description}}</p>
			</div>
			<div class="col-xs-12">
				{{#each countrylist}}
					<p class="country-name">{{name}}</p>
					<div class="panel-group" id="{{id}}" role="tablist" aria-multiselectable="true">
					  	{{#each accordian}}
						  	<div class="panel panel-default">
							    <div class="panel-heading collapsed" role="tab"  data-toggle="collapse" data-parent="#{{../id}}" href="#{{collapsecontrol}}-{{../id}}" aria-expanded="false" aria-controls="{{collapsecontrol}}-{{../id}}">
								      <h4 class="panel-title">{{heading}}</h4>
								      <p>{{heading-detail}}</p>
							    </div>
							    <div id="{{collapsecontrol}}-{{../id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{id}}">
							      	<div class="panel-body">
							      		<div class="row">
								      		<div class="col-md-10">
									        	<span class="body-heading">{{body-heading}}</span>
									        	<p>{{body-content-intro}}</p>
									        	<p>{{body-content}}</p>
									        	<div class="details contact-feeds">
										        	<div class="row">
										        		<div class="col-xs-12 col-sm-6">
										        			<strong>Address</strong>
										        			<p>{{address.line1}}</p>
										        			<p>{{address.line2}}</p>
										        			<p>{{address.line3}}</p>
										        		</div>
										        		<div class="col-xs-12 col-sm-6">
									        				<a href="#" class="icon-email">info@informaecon.com</a>
									        				<br>
									        				<a href="#" class="icon-call-us">651.925.1060</a>
										        		</div>
										        	</div>
										        </div>
									        </div>
									    </div>
							      	</div>
							    </div>
						  	</div>
					  	{{/each}}
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</section>