<section class="search-container">
    <div class="container">
            <div class="view-toggle clearfix">
                <p class="results"><strong>28</strong> Products Found</p>
                <ul class="view-mode">
                    <li>
                        <a href="#" class="icon-list-view"></a>
                    </li>
                    <li>
                        <a href="#" class="icon-list-view"></a>
                    </li>
                </ul>
            </div>
            <div class="product-results" data-desktop="3" data-tablet="2" data-mobile="1">
                <h2>From: <strong>Biomedtracker</strong></h2>
                <div class="row list">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="list-items products">
                            <div class="heading">
                                <div class="heading-content">
                                    <p class="category">
                                        {{!-- {{#each SectorType}} --}}
                                        <strong>Sector Name</strong>
                                        {{!-- {{/each}} --}}
                                    </p>
                                    <h4>Biomedtracker <span class="pharma-icon brand-icon"></span></h4>
                                </div>
                            </div>
                            <div class="body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <ul>
                                    <li>Helps identify market trends </li>
                                    <li>Reduces risk by evaluating volatility</li>
                                    <li>Saves time and money</li>
                                </ul>
                                <div class="button-links">
                                    <div class="button-links-wrap row">
                                        <div class="col-xs-6">
                                            <a href="#" class="btn btn-default">Details</a>
                                        </div>
                                        <div class="col-xs-6">
                                            <a href="#" class="btn btn-primary">Free Trial</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="list-items recomended-wrapper" data-fetch="{{Id}}">
                            <div class="recomend-content">
                                <div class="content">
                                    {{!-- {{#compare SectorType.length 0 operator=">"}} --}}
                                        <p class="category">
                                            {{!-- {{#each SectorType}} --}}
                                            <strong>Sector Name</strong>
                                            {{!-- {{/each}} --}}
                                        </p>
                                    {{!-- {{/compare}} --}}
                                    {{!-- {{#compare BrandType.length 0 operator=">"}} --}}
                                        <span class="type">
                                            {{!-- {{#each BrandType}} --}}
                                            <span>Biomedtracker</span>
                                            {{!-- {{/each}} --}}
                                        </span>
                                    {{!-- {{/compare}} --}}
                                    <h4>Lorem ipsum dolor sit elit. ipsum dolor</h4>
                                    <p class="publish">By: <strong>Lorena Ruibal</strong>01.03.2016</p>
                                    {{!-- {{#compare Description null operator="!="}} --}}
                                        <p class="description">Leaked files from a Panama law firm that creates shell companies show that politicians, criminals and celebrities worldwide have used banks and shadow companies to hide their finances.</p>
                                    {{!-- {{/compare}} --}}
                                    {{!-- {{#compare Video null operator="!="}} --}}
                                        {{!-- <div class="video-container">
                                            <a href="{{Video.Url}}" class="video-link" tabindex="0">
                                                <img src="{{Video.ImageSrc}}" alt="{{Video.ImageAltText}}">
                                                <span class="play-icon icon-play"></span>
                                            </a>
                                        </div> --}}
                                    {{!-- {{/compare}} --}}
                                </div>
                                {{!-- {{#compare Topic.length 0 operator=">"}} --}}
                                    <p class="topics">Topics:
                                        {{!-- {{#each Topic}} --}}
                                            <strong>Lorem</strong><strong>Ipsum</strong><strong>Dolor</strong><strong>Sit</strong><strong>Amet</strong><strong>consecuter</strong>
                                        {{!-- {{/each}} --}}
                                    </p>
                                {{!-- {{/compare}} --}}
                            </div>
                            <div class="footer">
                                <div class="btn-container text-right">
                                    <a href="#" class="btn btn-default">Full Article</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="list-items recomended-wrapper" data-fetch="{{Id}}">
                            <div class="recomend-content">
                                <div class="content">
                                    {{!-- {{#compare SectorType.length 0 operator=">"}} --}}
                                        <p class="category">
                                            {{!-- {{#each SectorType}} --}}
                                            <strong>Sector Name</strong>
                                            {{!-- {{/each}} --}}
                                        </p>
                                    {{!-- {{/compare}} --}}
                                    {{!-- {{#compare BrandType.length 0 operator=">"}} --}}
                                        <span class="type">
                                            {{!-- {{#each BrandType}} --}}
                                            <span>Biomedtracker</span>
                                            {{!-- {{/each}} --}}
                                        </span>
                                    {{!-- {{/compare}} --}}
                                    <h4>Lorem ipsum dolor sit elit. ipsum dolor</h4>
                                    <p class="publish">By: <strong>Lorena Ruibal</strong>01.03.2016</p>
                                    {{!-- {{#compare Description null operator="!="}} --}}
                                        <p class="description">Leaked files from a Panama law firm that creates shell companies show that politicians, criminals and celebrities worldwide have used banks and shadow companies to hide their finances.</p>
                                    {{!-- {{/compare}} --}}
                                    {{!-- {{#compare Video null operator="!="}} --}}
                                        {{!-- <div class="video-container">
                                            <a href="{{Video.Url}}" class="video-link" tabindex="0">
                                                <img src="{{Video.ImageSrc}}" alt="{{Video.ImageAltText}}">
                                                <span class="play-icon icon-play"></span>
                                            </a>
                                        </div> --}}
                                    {{!-- {{/compare}} --}}
                                </div>
                                {{!-- {{#compare Topic.length 0 operator=">"}} --}}
                                    <p class="topics">Topics:
                                        {{!-- {{#each Topic}} --}}
                                            <strong>Lorem</strong><strong>Ipsum</strong><strong>Dolor</strong><strong>Sit</strong><strong>Amet</strong><strong>consecuter</strong>
                                        {{!-- {{/each}} --}}
                                    </p>
                                {{!-- {{/compare}} --}}
                            </div>
                            <div class="footer">
                                <div class="btn-container text-right">
                                    <a href="#" class="btn btn-default">Full Article</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="#" class="btn-showMore">Show More</a>
                </div>
            </div>
            <div class="product-results" data-desktop="3" data-tablet="2" data-mobile="1">
                <h2>From: <strong>Biomedtracker</strong></h2>
                <div class="row list">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="list-items products">
                            <div class="heading">
                                <div class="heading-content">
                                    <p class="category">
                                        {{!-- {{#each SectorType}} --}}
                                        <strong>Sector Name</strong>
                                        {{!-- {{/each}} --}}
                                    </p>
                                    <h4>Biomedtracker <span class="pharma-icon brand-icon"></span></h4>
                                </div>
                            </div>
                            <div class="body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <ul>
                                    <li>Helps identify market trends </li>
                                    <li>Reduces risk by evaluating volatility</li>
                                    <li>Saves time and money</li>
                                </ul>
                                <div class="button-links">
                                    <div class="button-links-wrap row">
                                        <div class="col-xs-6">
                                            <a href="#" class="btn btn-default">Details</a>
                                        </div>
                                        <div class="col-xs-6">
                                            <a href="#" class="btn btn-primary">Free Trial</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="list-items recomended-wrapper" data-fetch="{{Id}}">
                            <div class="recomend-content">
                                <div class="content">
                                    {{!-- {{#compare SectorType.length 0 operator=">"}} --}}
                                        <p class="category">
                                            {{!-- {{#each SectorType}} --}}
                                            <strong>Sector Name</strong>
                                            {{!-- {{/each}} --}}
                                        </p>
                                    {{!-- {{/compare}} --}}
                                    {{!-- {{#compare BrandType.length 0 operator=">"}} --}}
                                        <span class="type">
                                            {{!-- {{#each BrandType}} --}}
                                            <span>Biomedtracker</span>
                                            {{!-- {{/each}} --}}
                                        </span>
                                    {{!-- {{/compare}} --}}
                                    <h4>Lorem ipsum dolor sit elit. ipsum dolor</h4>
                                    <p class="publish">By: <strong>Lorena Ruibal</strong>01.03.2016</p>
                                    {{!-- {{#compare Description null operator="!="}} --}}
                                        <p class="description">Leaked files from a Panama law firm that creates shell companies show that politicians, criminals and celebrities worldwide have used banks and shadow companies to hide their finances.</p>
                                    {{!-- {{/compare}} --}}
                                    {{!-- {{#compare Video null operator="!="}} --}}
                                        {{!-- <div class="video-container">
                                            <a href="{{Video.Url}}" class="video-link" tabindex="0">
                                                <img src="{{Video.ImageSrc}}" alt="{{Video.ImageAltText}}">
                                                <span class="play-icon icon-play"></span>
                                            </a>
                                        </div> --}}
                                    {{!-- {{/compare}} --}}
                                </div>
                                {{!-- {{#compare Topic.length 0 operator=">"}} --}}
                                    <p class="topics">Topics:
                                        {{!-- {{#each Topic}} --}}
                                            <strong>Lorem</strong><strong>Ipsum</strong><strong>Dolor</strong><strong>Sit</strong><strong>Amet</strong><strong>consecuter</strong>
                                        {{!-- {{/each}} --}}
                                    </p>
                                {{!-- {{/compare}} --}}
                            </div>
                            <div class="footer">
                                <div class="btn-container text-right">
                                    <a href="#" class="btn btn-default">Full Article</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="list-items recomended-wrapper" data-fetch="{{Id}}">
                            <div class="recomend-content">
                                <div class="content">
                                    {{!-- {{#compare SectorType.length 0 operator=">"}} --}}
                                        <p class="category">
                                            {{!-- {{#each SectorType}} --}}
                                            <strong>Sector Name</strong>
                                            {{!-- {{/each}} --}}
                                        </p>
                                    {{!-- {{/compare}} --}}
                                    {{!-- {{#compare BrandType.length 0 operator=">"}} --}}
                                        <span class="type">
                                            {{!-- {{#each BrandType}} --}}
                                            <span>Biomedtracker</span>
                                            {{!-- {{/each}} --}}
                                        </span>
                                    {{!-- {{/compare}} --}}
                                    <h4>Lorem ipsum dolor sit elit. ipsum dolor</h4>
                                    <p class="publish">By: <strong>Lorena Ruibal</strong>01.03.2016</p>
                                    {{!-- {{#compare Description null operator="!="}} --}}
                                        <p class="description">Leaked files from a Panama law firm that creates shell companies show that politicians, criminals and celebrities worldwide have used banks and shadow companies to hide their finances.</p>
                                    {{!-- {{/compare}} --}}
                                    {{!-- {{#compare Video null operator="!="}} --}}
                                        {{!-- <div class="video-container">
                                            <a href="{{Video.Url}}" class="video-link" tabindex="0">
                                                <img src="{{Video.ImageSrc}}" alt="{{Video.ImageAltText}}">
                                                <span class="play-icon icon-play"></span>
                                            </a>
                                        </div> --}}
                                    {{!-- {{/compare}} --}}
                                </div>
                                {{!-- {{#compare Topic.length 0 operator=">"}} --}}
                                    <p class="topics">Topics:
                                        {{!-- {{#each Topic}} --}}
                                            <strong>Lorem</strong><strong>Ipsum</strong><strong>Dolor</strong><strong>Sit</strong><strong>Amet</strong><strong>consecuter</strong>
                                        {{!-- {{/each}} --}}
                                    </p>
                                {{!-- {{/compare}} --}}
                            </div>
                            <div class="footer">
                                <div class="btn-container text-right">
                                    <a href="#" class="btn btn-default">Full Article</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="#" class="btn-showMore">Show More</a>
                </div>
            </div>
            <div class="product-results" data-desktop="3" data-tablet="2" data-mobile="1">
                <h2>From: <strong>Biomedtracker</strong></h2>
                <div class="row list">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="list-items products">
                            <div class="heading">
                                <div class="heading-content">
                                    <p class="category">
                                        {{!-- {{#each SectorType}} --}}
                                        <strong>Sector Name</strong>
                                        {{!-- {{/each}} --}}
                                    </p>
                                    <h4>Biomedtracker <span class="pharma-icon brand-icon"></span></h4>
                                </div>
                            </div>
                            <div class="body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <ul>
                                    <li class="icon-tick">Helps identify market trends</li>
                                    <li class="icon-tick">Reduces risk by evaluating volatility</li>
                                    <li class="icon-tick">Saves time and money</li>
                                </ul>
                                <div class="button-links">
                                    <div class="button-links-wrap row">
                                        <div class="col-xs-6">
                                            <a href="#" class="btn btn-default">Details</a>
                                        </div>
                                        <div class="col-xs-6">
                                            <a href="#" class="btn btn-primary">Free Trial</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="list-items recomended-wrapper" data-fetch="{{Id}}">
                            <div class="recomend-content">
                                <div class="content">
                                    {{!-- {{#compare SectorType.length 0 operator=">"}} --}}
                                        <p class="category">
                                            {{!-- {{#each SectorType}} --}}
                                            <strong>Sector Name</strong>
                                            {{!-- {{/each}} --}}
                                        </p>
                                    {{!-- {{/compare}} --}}
                                    {{!-- {{#compare BrandType.length 0 operator=">"}} --}}
                                        <span class="type">
                                            {{!-- {{#each BrandType}} --}}
                                            <span>Biomedtracker</span>
                                            {{!-- {{/each}} --}}
                                        </span>
                                    {{!-- {{/compare}} --}}
                                    <h4>Lorem ipsum dolor sit elit. ipsum dolor</h4>
                                    <p class="publish">By: <strong>Lorena Ruibal</strong>01.03.2016</p>
                                    {{!-- {{#compare Description null operator="!="}} --}}
                                        <p class="description">Leaked files from a Panama law firm that creates shell companies show that politicians, criminals and celebrities worldwide have used banks and shadow companies to hide their finances.</p>
                                    {{!-- {{/compare}} --}}
                                    {{!-- {{#compare Video null operator="!="}} --}}
                                        {{!-- <div class="video-container">
                                            <a href="{{Video.Url}}" class="video-link" tabindex="0">
                                                <img src="{{Video.ImageSrc}}" alt="{{Video.ImageAltText}}">
                                                <span class="play-icon icon-play"></span>
                                            </a>
                                        </div> --}}
                                    {{!-- {{/compare}} --}}
                                </div>
                                {{!-- {{#compare Topic.length 0 operator=">"}} --}}
                                    <p class="topics">Topics:
                                        {{!-- {{#each Topic}} --}}
                                            <strong>Lorem</strong><strong>Ipsum</strong><strong>Dolor</strong><strong>Sit</strong><strong>Amet</strong><strong>consecuter</strong>
                                        {{!-- {{/each}} --}}
                                    </p>
                                {{!-- {{/compare}} --}}
                            </div>
                            <div class="footer">
                                <div class="btn-container text-right">
                                    <a href="#" class="btn btn-default">Full Article</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="list-items recomended-wrapper" data-fetch="{{Id}}">
                            <div class="recomend-content">
                                <div class="content">
                                    {{!-- {{#compare SectorType.length 0 operator=">"}} --}}
                                        <p class="category">
                                            {{!-- {{#each SectorType}} --}}
                                            <strong>Sector Name</strong>
                                            {{!-- {{/each}} --}}
                                        </p>
                                    {{!-- {{/compare}} --}}
                                    {{!-- {{#compare BrandType.length 0 operator=">"}} --}}
                                        <span class="type">
                                            {{!-- {{#each BrandType}} --}}
                                            <span>Biomedtracker</span>
                                            {{!-- {{/each}} --}}
                                        </span>
                                    {{!-- {{/compare}} --}}
                                    <h4>Lorem ipsum dolor sit elit. ipsum dolor</h4>
                                    <p class="publish">By: <strong>Lorena Ruibal</strong>01.03.2016</p>
                                    {{!-- {{#compare Description null operator="!="}} --}}
                                        <p class="description">Leaked files from a Panama law firm that creates shell companies show that politicians, criminals and celebrities worldwide have used banks and shadow companies to hide their finances.</p>
                                    {{!-- {{/compare}} --}}
                                    {{!-- {{#compare Video null operator="!="}} --}}
                                        {{!-- <div class="video-container">
                                            <a href="{{Video.Url}}" class="video-link" tabindex="0">
                                                <img src="{{Video.ImageSrc}}" alt="{{Video.ImageAltText}}">
                                                <span class="play-icon icon-play"></span>
                                            </a>
                                        </div> --}}
                                    {{!-- {{/compare}} --}}
                                </div>
                                {{!-- {{#compare Topic.length 0 operator=">"}} --}}
                                    <p class="topics">Topics:
                                        {{!-- {{#each Topic}} --}}
                                            <strong>Lorem</strong><strong>Ipsum</strong><strong>Dolor</strong><strong>Sit</strong><strong>Amet</strong><strong>consecuter</strong>
                                        {{!-- {{/each}} --}}
                                    </p>
                                {{!-- {{/compare}} --}}
                            </div>
                            <div class="footer">
                                <div class="btn-container text-right">
                                    <a href="#" class="btn btn-default">Full Article</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="#" class="btn-showMore">Show More</a>
                </div>
            </div>
    </div>
</section>

{{!-- <section class="product-finder-results search-container">
<input type="hidden" class="sector-list" value="sector1,sector2,sector3" />
<input type="hidden" class="sub-sector-list" value="" />
<div class="search-filter">
	<div class="container">
		<p class="filter-text">You've searched for:</p>
		<div class="filter-list">
		</div>
	</div>
</div>
<div class="refine-list form">
	<div class="container">
		<p class="header">
			<a href="#" class="refine">Refine results <span class="icon-chevron-down"></span></a>
			<a href="#" class="close-filter"><span class="icon-close"></span></a>
		</p>
	</div>
	<div class="container slider">
		<div class="refine-result container clearfix">

		</div>
		<div class="refine-button container">
			<a href="#" class="btn btn-default">Refine</a>
		</div>
	</div>
</div>
<div class="container" id="results"> 
	<div class="search-results flip" id="products">
        <p class="count"><strong></strong> Products found</p>
            <div class="row">
            </div>
            <div class="btn-container">
                <a href="javascript:void(0)" class="btn-ShowMore">
                    <span class="more">More Products</span>
                    <span class="less">Less products</span>
                </a>
            </div>
    </div>
    <div class="search-results" id="resources">
           <p class="count"><strong></strong> Resources found</p>
           	<div class="row article-list">
           	</div>
           	<div class="btn-container">
                <a href="javascript:void(0)" class="btn-ShowMore">
                    <span class="more">More Products</span>
                    <span class="less">Less products</span>
                </a>
            </div>
    </div>
</div>
</section> --}}