<section id="pdp-analyst" class="analyst-views">
	<div class="container">
		<h1>Meet the analysts</h1>
		<div class="row analyst-items">
			{{#each this}}
				<div class="col-xs-12 col-sm-6 col-md-4 analyst-list-container">
		            <div class="meet-anlyst-section">
		                <div class="anlyst-heading">
		                	<div class="analyst-heading-content">
			                    <div class="analyst-details">
															<span class="analyst-type">Analyst</span>
			                        <h2>{{name}}</h2>
			                        <h3>{{analystdesc}}</h3>
			                        <p class="location">{{location}}</p>
			                    </div>
			                    <div class="analyst-img">
			                        <img src="{{image}}" alt="{{image}}" />
			                    </div>
			                </div>
		                </div>
		                <div class="analyst-description">
		                    <p class="heading">{{question}}</p>
		                    <ul class="yellow-bullets">
		                    	{{#each specialities}}
			                    	<li>{{name}}</li>
								{{/each}}
		                    </ul>
		                    <p class="heading">{{experience}}</p>
		                    <ul class="track-analyst clearfix">
		                    	{{#each products}}
			                    	<li><a href="#">{{name}}</a></li>
			                    {{/each}}
		                    </ul>
		                </div>
		                <div class="analyst-footer">
		                	<div class="analyst-footer-content clearfix">
			                	<ul class="nav-links">
			                		<li><a href="#" class="icon-twitter"></a></li>
			                		<li><a href="#" class="icon-linked-in"></a></li>
			                		<li><a href="#" class="icon-facebook"></a></li>
			                	</ul>
			                	<a href="#" class="btn btn-default pull-right">Full Profile</a>
			                </div>
		                </div>
		            </div>
	        	</div>
	        {{/each}}
		</div>
		<div class="btn-container text-center">
			<a href="javascript:void(0)" class="btn btn-default btn-showMore">
			<span class="more">See All Profile</span><span class="less">Dont See All Profile</span></a>
		</div>
	</div>
</section>

 <div class="author-bio">
	<div class="container">
			<div class="row">
					<div class="col-xs-6 col-sm-2 col-md-2">
							<img src="cms-images/analyst-1.png" alt="" class="img-responsive">
					</div>
					<div class="col-xs-6 col-sm-3 col-md-3">
							<div class="details">
								<h3>John Smith</h3>
								<p>Senior Vice President at Abott Laboratories</p>
							</div>
					</div>
					<div class="col-xs-12 col-sm-7 col-md-7">
							<div class="content">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
					</div>
			</div>
		<!-- <div class="author-img">
			<img src="cms-images/analyst-1.png">
		</div>
		<div class="author-content">
			<div class="details">
				<h3>John Smith</h3>
				<p>Senior Vice President at Abott Laboratories</p>
			</div>
			<div class="content">
				Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum Lorem ipsumLoremLorem ipsumLorem ipsumLorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
			</div>
		</div> -->
	</div>
</div>
