<section id="hero-banner" class="video">
        <div class="abs-image">
          <img data-video="http://www.youtube.com/embed/RRJA5mZ-hIE?autoplay=1&controls=0&loop=1" src="cms-images/agri-bg.jpg">
        </div>
        <div class="container alignVertical">
            <div class="row splash">
                <div class="col-xs-12 col-sm-8 col-md-6">
                    <div class="logo"><img src="cms-images/customers/abbot2.png"></div>
                    <h1>{{title}}</h1>
                    <div class="subtext">{{subtext}}</div>
                    <div class="description">{{description}}</div>
                </div>
            </div>
          <div class="row cta">
                <div class="col-xs-12 col-sm-3 col-md-2">
                     <a class="priceCTA btn trans">
                           <div class="headline">Subscriptions Starts from</div>
                           <div class="priceDetails">
                                 <span class="price">1,140</span>
                                 <span class="per">per year</span>
                           </div>
                     </a>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2">
                    <a class="cta2 btn semi-trans">{{cta2}}</a>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2">
                    <a class="cta1 btn solid btn-primary">{{cta1}}</a>
                </div>

            </div>
        </div>
</section>