<section id="hero-banner">
    <div class="container">
        <div class="row">
          <div class="cf-img">
            <img src="cms-images/banner-images/hero_texture.png" class="img-responsive" alt="" />
          </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                  <!-- <div class="logo"><img src="cms-images/customers/abbot2.png"></div> -->
                  <h1>{{title}}</h1>
                  <div class="subtext">{{subtext}}</div>
                  <!-- <div class="description">{{description}}</div> -->
                  <div class="row cta">
                        <div class="col-xs-12 col-sm-12 col-md-3">
                             <a class="priceCTA btn trans">
                                   <div class="headline">Subscriptions Starts from</div>
                                   <div class="priceDetails">
                                         <span class="price">&euro;1,140</span>
                                         <span class="per">per year</span>
                                   </div>
                             </a>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <a class="cta2 btn semi-trans">{{cta2}}</a>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <a class="cta1 btn solid orange">{{cta1}}</a>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <a class="cta1 btn solid orange">{{cta1}}</a>
                        </div>

                    </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 side-container">

                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>

    </div>
</section>
