<section id="hero-banner" class="contact">
      <div class="abs-image">
            <picture>
                  <source srcset="cms-images/about-us-bg.png" media="(min-width: 1024px)">
                  <source srcset="cms-images/about-us-bg.png?w=1024" media="(min-width: 768px)">
                  <source srcset="cms-images/about-us-bg.png?w=768" media="(min-width: 660px)">
                  <source srcset="cms-images/about-us-bg.png?w=660" media="(min-width: 320px)">
                  <img srcset="cms-images/about-us-bg.png ">
            </picture>
      </div>
    <div class="container alignVertical">
        <div class="row splash">
            <div class="col-xs-12 col-sm-8 col-md-6">
                  <!-- <div class="logo"><img src="cms-images/customers/abbot2.png"></div> -->
                  <h1>{{title}}</h1>
                  <div class="subtext">{{subtext}}</div>
                  <!-- <div class="description">{{description}}</div> -->
            </div>
        </div>
      <!-- <div class="row cta">
            <div class="col-xs-12 col-sm-3 col-md-2">
                 <a class="priceCTA btn trans">
                       <div class="headline">Subscriptions Starts from</div>
                       <div class="priceDetails">
                             <span class="price">&euro;1,140</span>
                             <span class="per">per year</span>
                       </div>
                 </a>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <a class="cta2 btn semi-trans">{{cta2}}</a>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <a class="cta1 btn solid orange">{{cta1}}</a>
            </div>

        </div> -->
    </div>
</section>
