<section id="hero-banner" class="variant1">
      <div class="abs-image"><img src="images/agri-bg.jpg"></div>
    <div class="container alignVertical">
        <div class="row splash">
            <div class="col-xs-12 col-sm-8 col-md-6">
                  <div class="logo"><img src="images/customers/abbot2.png"></div>
                  <h1>{{title}}</h1>
                  <div class="subtext">{{subtext}}</div>
                  <div class="description">{{description}}</div>
            </div>
        </div>
      <div class="row cta">
            <div class="col-xs-12 col-sm-3 col-md-2">
                 <a class="cta3 btn trans icon">{{cta3}}</a>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-2">
                <a class="cta2 btn semi-trans">{{cta2}}</a>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <a class="cta1 btn solid orange">{{cta1}}</a>
            </div>

        </div>
    </div>
</section>
