--- component: sector list component ---

<section id="product-brands-list-section" class="bg-gray-dark">
    <div class="product-brands-list">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {{#if heading}}
                        <h1>{{heading}}</h1>
                    {{/if}}
                    <h2>{{sub-heading}}</h2>
                </div>
            </div>
            <div class="row">
                {{#each items}}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="brand-list-card">
                            <div class="image-thumbnail" style="background-image:url({{banner.url}}" )>
<!-- <img src="{{banner.url}}" alt="{{banner.alt}}"> -->
                            </div>
                            <div class="caption">
                                <h2>{{title}} <span class="brand-logo {{icon}}"></span></h2>
                                <p>{{{description}}}</p>
                            </div>
                            <div class="showmore bg-light-blue">
                                <div class="btn-container">
                                    <a class="btn btn-primary" href="{{cta.link}}" role="button">{{cta.label}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>

            {{#if allproducts.show}}
                <div class="row">
                    <div class="col-lg-12 show-more-products">
                        <a class="btn btn-default" href="{{allproducts.link}}" role="button">{{allproducts.label}}</a>
                    </div>
                </div>

            {{/if}}
        </div>
    </div>


</section>
