<section id="contactus-section" class="bg-gray-light">
   <div class="contactus-list">
      <div class="container">
         <div class="row">
           <h1 class="white-color contactus-header" >Have any questions? <small class="white-color">Speak to a specialist</small></h1>
            <div class="panel-group" id="accordion">
               {{#each this}}
               <div class="panel panel-default">
                  <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{id}}">
                     <h2>
                        <span class="icon {{icon}}"></span>  {{heading}}
                     </h2>
                  </div>
                  <div id="collapse{{id}}" class="panel-collapse collapse in">
                     <div class="panel-body">
                        {{#each content}}
                        {{#if number}}
                        <h4>
                        {{{title}}}</4>
                        <div class="phone-number">
                           <a href="tel:{{number}}">{{number}}</a>
                        </div>
                        {{/if}}
                        {{#if email}}
                        <p class="title">{{{title}}}</p>
                        <p class="email"> {{name}} <a href="mailto:{{{email}}}">{{{email}}}</a></p>
                        {{/if}}
                        {{#if cta}}
                        <h4>
                        {{{title}}}</4>
                        <div class="btn-container">
                           <a class="btn btn-primary" href="{{cta.link}}" role="button">{{cta.label}}</a>
                        </div>
                        {{/if}}
                        {{/each}}
                     </div>
                  </div>
               </div>
               {{/each}}
            </div>
         </div>
      </div>
   </div>
</section>
