{{!-- template file, needs to be copied into src\scripts\templates\informaui.templates.js > EventpageListviewTemplate --}}
<div class="col-xs-12 events-section {{results.DateType}}">
    <div class="events-wrap">
        <div class="dates col-sm-2">
            {{{results.DateRange}}}
        </div>
        <div class="content-wrap col-sm-10 col-md-7">
            {{#if results.Title}}
                <h3 class="title">{{results.Title}}</h3>
            {{/if}}
            {{#if results.EventType}}
                <p class="type">{{results.EventType}}</p>
            {{/if}}

            {{#if results.Venue}}
                <div class="content clearfix venue">
                    <div class="title-content">{{results.VenueLabel}}</div>
                    <div class="title-body">
                        {{results.Venue}}
                    </div>
                </div>
            {{/if}}

            {{#if results.Country}}
                <div class="content clearfix location">
                    <div class="title-content">{{results.LocationLabel}}</div>
                    <div class="title-body">
                        <ul class="clearfix">
                            {{#if results.State}}
                                <li>{{results.State}}</li>
                            {{/if}}
                            <li>{{results.Country}}</li>
                        </ul>
                    </div>
                </div>
            {{/if}}

            {{#if results.Duration}}
                <div class="content clearfix duration">
                    <div class="title-content">{{results.DurationLabel}}</div>
                    <div class="title-body">
                        {{results.Duration}}
                    </div>
                </div>
            {{/if}}

            {{#if (or results.TimeZone results.TimeZone1 results.TimeZone2 results.TimeZone3 results.TimeZone4)}}
                <div class="content clearfix timezones">
                    <div class="title-content">{{results.TimeZoneLabel}}</div>
                    <div class="title-body">
                        <ul class="clearfix">
                            {{#if results.TimeZone}}<li>{{results.TimeZone}}</li>{{/if}}
                            {{#if results.TimeZone1}}<li>{{results.TimeZone1}}</li>{{/if}}
                            {{#if results.TimeZone2}}<li>{{results.TimeZone2}}</li>{{/if}}
                            {{#if results.TimeZone3}}<li>{{results.TimeZone3}}</li>{{/if}}
                            {{#if results.TimeZone4}}<li>{{results.TimeZone4}}</li>{{/if}}
                        </ul>
                    </div>
                </div>
            {{/if}}

            {{#if results.Description}}
                <div class="content clearfix description">
                    {{{results.Description}}}
                </div>
            {{/if}}

            {{#compare results.Presenters.length 0 operator=">"}}
                <div class="content clearfix presenters">
                    <div class="title-content">{{results.PresentersLabel}}</div>
                    <div class="title-body">
                        <ul class="clearfix">
                            {{#each results.Presenters}}
                                <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            {{/compare}}

            {{#compare results.Themes.length 0 operator=">"}}
                <div class="content clearfix themes">
                    <div class="title-content">{{results.ThemeLabel}}</div>
                    <div class="title-body">
                        <ul class="clearfix">
                            {{#each results.Themes}}
                                <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            {{/compare}}

            <div class="content clearfix ctas">
                {{#if results.Primarycta}}
                    {{#if results.Primarycta.Url}}
                        {{#compare results.Primarycta.Url.length "0" operator=">"}}
                            {{#compare results.StatusEnabled "true" operator="=="}}
                                <a href="{{results.Primarycta.Url}}" class="btn btn-primary pull-left primarycta" target="{{results.Primarycta.Target}}">{{results.Primarycta.LinkText}}</a>
                            {{/compare}}
                            {{#compare results.StatusEnabled "false" operator="=="}}
                                <a href="{{results.Primarycta.Url}}" class="btn btn-primary pull-left primarycta disabled" target="{{results.Primarycta.Target}}">{{results.Primarycta.LinkText}}</a>
                            {{/compare}}
                        {{/compare}}
                    {{/if}}
                {{/if}}

                {{#if results.Secondarycta}}
                    {{#if results.Secondarycta.Url}}
                        {{#compare results.Secondarycta.Url.length "0" operator=">"}}
                            {{#compare results.StatusEnabled "true" operator="=="}}
                                <a href="{{results.Secondarycta.Url}}" class="btn btn-primary pull-left secondarycta" target="{{results.Secondarycta.Target}}">{{results.Secondarycta.LinkText}}</a>
                            {{/compare}}
                            {{#compare results.StatusEnabled "false" operator="=="}}
                                <a href="{{results.Secondarycta.Url}}" class="btn btn-primary pull-left secondarycta disabled" target="{{results.Secondarycta.Target}}">{{results.Secondarycta.LinkText}}</a>
                            {{/compare}}
                        {{/compare}}
                    {{/if}}
                {{/if}}

                {{#if results.Ical}}
                    {{#if results.Ical.Url}}
                        {{#compare results.Ical.Url.length "0" operator=">"}}
                            {{#compare results.StatusEnabled "true" operator="=="}}
                                <a href="{{results.Ical.Url}}" class="btn pull-left ical" target="{{results.Ical.Target}}"><span class="text">{{results.Ical.LinkText}}</span></a>
                            {{/compare}}
                            {{#compare results.StatusEnabled "false" operator="=="}}
                                <a href="{{results.Ical.Url}}" class="btn pull-left ical disabled" target="{{results.Ical.Target}}"><span class="text">{{results.Ical.LinkText}}</span></a>
                            {{/compare}}
                        {{/compare}}
                    {{/if}}
                {{/if}}
            </div>

            {{#compare results.Tags.length 0 operator=">"}}
                <div class="content clearfix tags">
                    <div class="title-body">
                        <ul class="clearfix">
                            {{#each results.Tags}}
                                <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            {{/compare}}
        </div>
        <div class="logo col-sm-offset-2 col-md-offset-0 col-md-3">
            {{#if results.Logo}}
                <div class="content clearfix">
                    <img src="{{results.Logo}}" alt="event logo">
                </div>
            {{/if}}
        </div>
    </div>
</div>