<section class="product-finder-results">
	<div class="container">
		<p class="results"><strong>{{products-count}}</strong> Products found</p>
		<div class="row">
			{{#each results}}
				<div class="col-xs-12 col-sm-6 col-md-4 product-finder-list">
					<div class="product-finder-container">
						<div class="front">
							<div class="header">
								<img src="{{front.image}}" alt="video-thumb-sample" />
							</div>
							<div class="content">
								<h2>{{front.heading}}</h2>
								<p>{{front.description}}</p>
								<ul class="gray-bullets">
									{{#each front.items}}
										<li>{{name}}</li>
									{{/each}}
								</ul>
							</div>
							<div class="footer">
							</div>
						</div>
						<div class="back">
							abcd
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
</section>