<section id="analyst-profile">
	<div class="introduction clearfix">
		<div class="container">
			<div class="details">
				<!--<h2>About <i>{{name}}</i></h2>-->
				<h1>Toe</h1>
				<p class="designation">Dummy Designation</p>
				<p class="place">Country <span>{{place}}</span></p>
				<p class="experience">Experience <span>{{experience}}</span></p>
				<ul class="nav-links social-links">
            		
            		<li>
            			<a class="addthis_button_twitter_follow" addthis:userid="informaecon"></a>
            		</li>
            		<li>
            			<a class="addthis_button_linkedin_follow" addthis:usertype="company" addthis:userid="470330"></a>
            		</li>
            		<li>
            			<a class="icon-email at-icon" addthis:title="here is subject title"></a>
            		</li>
            	</ul>
			</div>
			<div class="image">
				<img src="{{image}}" alt="profile-1" />
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 analyst-content">
				<div class="descriptions">
					<p class="bold">{{highlight-content}}</p>
					<p>{{para1}} </p>
				</div>
				<div class="btn-container text-center">
					<a href="javascript:void(0);" class="show-options">
						<span class="more">Show More</span>
						<span class="less">Show Less</span>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-md-4 analyst-features">
				<div class="more-stories row">
					<div class="col-xs-12 col-sm-6 col-md-12">
						<p class="heading">Specialities</p>
						<ul class="feature bold">
							{{#each specialities}}
		                    	<li>{{name}}</li>
							{{/each}}
						</ul>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-12">
						<p class="heading"><i>Tore</i> writes for</p>
						<ul class="feature">
							{{#each writing}}
				               	<li><a href="#">{{name}}</a></li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="https://platform.twitter.com/widgets.js"></script>