<section id="social-section">
    <div class="container">
        <div class="col-lg-12">
            <h1>Keep up to date</h1>
        </div>
        <div class="col-lg-12">
            <div class="twitter-carousel"data-itemsperframe="4" data-autorotate=0 data-transitionspeed="300" data-slideduration="4000" data-pagination=true>
            	{{#each ReTweetUserList}}
	            	<div class="panel">
	            		<div class="feed">
	            			<div class="feed-heading clearfix">
	            				<span>{{createdAt}}</span><span class="twittedby"><span>@</span>informaecon</span>
	            			</div>
	            			{{#if Image}}
	            				<div class="twit-img">
	            					<img src="{{Image}}" alt="{{ScreenName}}"/>
	            				</div>
	            			{{/if}}
	            			{{#if Video}}
	            				<a href="videourl" class="twit-video">
	            					<span class="play-icon"></span>
	            					<img src="{{imageurl}}" alt="{{ScreenName}}"/>
	            				</a>
	            			{{/if}}
	            			<p class="message">
								6 reasons why the <a class="hastag">#biosimilars</a> market is exp. to grow from $1.7b to $30b by 2020. <a class="handle">@Frost_Sullivan</a> for @BioProcessOL <a href="https://t.co/K66Uzi4O5x">https://t.co/K66Uzi4O5x</a>
	            			</p>
	            		</div>
	            	</div>
	            {{/each}}
            </div>
        </div>
    </div>
</section>